.errors {
    color: pink;
    font-size: 14px;
    margin-top: 4px;
  }
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1{
  color:rgb(253, 0, 0);
  background-color: rgba(0, 0, 0, 0.612);
  border-radius: 15%;
  margin: 20px;
  padding: 20px;
}
.form{
  background-color:rgba(255, 0, 0, 0.645);
  width: 50%;
  border-radius: 5%;
  color:rgb(35, 239, 86);
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}
.input{
  background-color: black;
  color: rgb(86, 236, 143);
  width: 400px;
  border-color: rgb(35, 239, 86);
  outline: none;
}
.button{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.53);
  color: rgb(35, 239, 86);
 }
.button:hover{
  transform: scale(1.2);
  background-color: black;
  color: rgb(35, 239, 86);
  cursor: pointer;
}
ul {
  list-style: none;
}
.submit{
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.53);
  color: rgb(35, 239, 86);
  font-size: 30px;
 }
.submit:hover{
  transform: scale(1.2);
  background-color: black;
  color: rgb(35, 239, 86);
  cursor: pointer;
}

ul li {
  list-style-type: none;
}