
  .card {
    margin: 10px;
    padding: 10px;
    background-color: rgba(7, 7, 7, 0.634);
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 10%;
    transition: transform 0.3s;
    overflow: hidden;
  }
  
  .card:hover {
    transform: scale(1.1); /* Cambia el tamaño al hacer hover */
    background-color: rgba(187, 3, 3, 0.5); /* Cambia el color de fondo al hacer hover */
  }

  .link {
    text-decoration: none;
    color: #30f223;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 10%;
  }