.container{
    display: flex;
    justify-content: center;
 }
 .input{
     background-color: black;
     color: rgb(86, 236, 143);
     width: 400px;
     border-color: rgb(35, 239, 86);
     outline: none;
 }
 .button{
     border-radius: 5px;
     background-color: rgba(0, 0, 0, 0.53);
     color: rgb(35, 239, 86);
 }
 .button:hover{
     transform: scale(1.2);
     background-color: black;
     color: rgb(35, 239, 86);
     cursor: pointer;
 }